@import "./variable";
@import "./mixin";

*,
*::after,
*::before {
    margin: 0px;
    padding: 0px;
    box-sizing: inherit;
}

/* 16px by default,  declaration puis on joue avec les rems ex.... */
html {
    /* font-size: 10px; */
    font-size: 62.5%;//normal

    @include respond(tab-land) {
        font-size: 56.25%;// <1200
    }

    @include respond(tab-port) {
        font-size: 50%;//<900
    }
    // @include respond(phone) {
    //     font-size: 50%; //<600
    // }
    @include respond(big-desktop) {
        font-size: 75%;
    }
}

body {

    font-family: "Raleway", sans-serif;
    font-weight: 400;
    /* font-size:16 px; */
    /* font-size: 1.6 rem; */
    line-height: 1.7;
    color: $c-b;
    box-sizing: border-box;
}
