@import '../../variable';

.loginPage {
    padding-top: 20rem;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    .loginBlock {
        background: $c-s;
        border-radius: 10%;
        border: solid 2px $c-t;
        margin-bottom: 2rem;
        padding: 4rem;

        width: 30%;

        .reset {
            display: flex;
            flex-direction: column;
        }
        small {
            font-size: 1rem;

            .navLink {
                text-decoration: none;
                color: $c-b;
                background:$c-t;
                padding: 3px;
            }
        }

        h1 {
            font-size: 3rem;
            padding-bottom: 2rem;
            color: $c-b;
            text-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
            letter-spacing: 1px;
            text-align: center;
        }
    }
}
