@import '../../variable';

.blockJardin {
    padding-top: 10rem;
    .hAdmin {
        font-size: 4rem;
        color: #444444;
        text-shadow: 1px 0px 1px #cccccc, 0px 1px 1px #eeeeee,
            2px 1px 1px #cccccc, 1px 2px 1px #eeeeee, 3px 2px 1px #cccccc,
            2px 3px 1px #eeeeee, 4px 3px 1px #cccccc, 3px 4px 1px #eeeeee,
            5px 4px 1px #cccccc, 4px 5px 1px #eeeeee, 6px 5px 1px #cccccc,
            5px 6px 1px #eeeeee, 7px 6px 1px #cccccc;
    }

    h1 {
        margin: 3rem;
        font-weight: 700;
        font-size: 3rem;
        text-transform: uppercase;
    }

    .gridContainer {
        padding-top: 10rem;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        gap: 0px 0px;
    }

    .sidbar {
        background: rgba($c-b, 0.3);
        border: solid 2px black;
        height: 100vh;
        grid-row: 0/1;
        grid-column: 0/-1;

        display: flex;
        flex-direction: column;
        justify-content: space-evenly;

        .itemSideBar {
            text-decoration: none;
            text-transform: uppercase;
            color: $c-b;
            font-weight: 700;
            font-size: 2rem;
            border: solid 2px $c-b;
            margin: 1rem;
            border-radius: 3px;
            background: $c-s;
            transition: all 0.1s;

            &:hover {
                transform: scale(1.05);
                background: $c-b;
                border: solid 2px $c-s;
                color: $c-s;
            }
        }
    }

    .contentAdmin {
        background: rgba(123, 192, 75, 0.3);
        border: solid 2px black;
        height: 100vh;
        grid-row: 1/-1;
        grid-column: 2/-1;
    }
}
